@import "theme.css";

* {
  all: initial;
  color: @fg-sage-light;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

.module {
  margin-bottom: -1px;
}

#waybar {
  background-color: transparent;
  border-radius: 8px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@main-bg, 0.5);
  border-radius: 8px;
  padding: 4px;
}

button {
  min-width: 16px;
  padding: 0 8px;
}

button:hover label{
  color: @fg-hover-glow;
  text-shadow: 0 0 2px @glow-hover-warm;
  text-shadow: 0 0 3px alpha(@glow-hover-warm, 0.6);
}

tooltip {
  border: 2px solid @fg-main;
  background-color: @main-bg;
  border-radius: 8px;
}

tooltip > box {
  padding: 0 6px;
}
