@define-color foreground #e6d8ba;
@define-color background #11221C;
@define-color highlight #71CEAD;

* {
  font-family: JetBrainsMono;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@background, 0.7);
  color: @foreground;

  border-radius: 8px;
}

#workspaces button {
  padding: 5px;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: @highlight;
  color: @background;
}

#clock, #battery, #network, #cpu, #memory {
  padding: 0 10px;
}

#tray {
  padding-right: 8px;
  margin-right: 5px;
}
